---
import LayoutBlog from "../../layouts/LayoutBlog.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Games and projects blog";
const description = "A place to share where my projects and thoughts.";
const ogimage ={
    url: "../../../public/images/imagedefault.webp",
    alt: "Image default"
};
---

<LayoutBlog  pageTitle={pageTitle} description={description} ogimage={ogimage}>

    <!-- <Hero /> -->
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</LayoutBlog>
