---
const links = [
    { href: "#home", label: "Home" },
    { href: "#projects", label: "Projects" },
    { href: "#renders", label: "3D Renders" },
    { href: "#movies", label: "Short Movies" },
    { href: "#contact", label: "Contact" },
];
---

<nav
    class="fixed w-full bg-gray-800 p-4 top-0 z-50 flex justify-center space-x-4"
>
    {
        links.map((link) => (
            <a href={link.href} class="hover:text-gray-400">
                {link.label}
            </a>
        ))
    }
</nav>
